# Java
target/
*.log

# Spring Boot
*.jar
*.war

# Node / Angular
node_modules/
dist/

# IDEs
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Env files
.env
**/application-local.yml
**/application-neon.yml
